.is{
    text-align: center;
    background-color: aquamarine;
}

#back{
    background: url(amado.jpeg) center ;
    
}

.prim{
    background-color: cadetblue;
    margin: 10px;
    color: brown;
}
